@model Queue.Models.Agent_EmployeesGroups

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="divblock" class="row">
    <div class="col-lg-12 col-12">

        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">Editar Grupo Usuario</h4>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Index", "Agent_EmployeesGroups")" class="btn btn-info btn-block m-t-10 float-right">
                    <i class="glyphicon glyphicon-chevron-left"></i>Back
                </a>
            </div>
            @using (Html.BeginForm("Edit", "Agent_EmployeesGroups"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.idemployeesGroup)
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2">
                            <button id="edit" name="add_dictionary" type="submit" value="Create" class="btn btn-warning waves-effect waves-light btn-block">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        @using (Html.BeginForm("Addemployee", "Agent_EmployeesGroups"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.idemployeesGroup)
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">Agregar Usuario</h4>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label asp-for="idemployee" class="control-label"></label>
                        <span asp-validation-for="idemployee" class="text-danger"></span>
                        @Html.DropDownList("idemployee", null, htmlAttributes: new { @class = "form-control", autocomplete = "off" })

                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <button id="edit" name="add_dictionary" type="submit" value="Create" class="btn btn-info">
                        Add
                    </button>
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="form-group">
                <div class="row">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Nombres
                                    </th>
                                    <th>
                                        Usuario
                                    </th>
                                    <th>
                                        Eliminar
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Agent_EmployeeGroupsEmployee_list)
                                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>

                    <td style="text-align:center">
                        <a class="btn btn-outline-secondary" href="@Url.Action("Deleteemployee", "Agent_EmployeesGroups", new { idEmployee = item.idEmployee, idAgent_EmployeeGroupsEmployee = Model.idemployeesGroup})"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }


    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {

    });
</script>
